.tipsUI {
  --App__theme: var(--tg-color-scheme, light);
  --App__viewport-height: var(--tg-viewport-height, 100vh);
  --App__viewport-height_stable: var(--tg-viewport-stable-height, 100vh);

  --App__radius_small: 8px;
  --App__radius_medium: 12px;
  --App__radius_large: 16px;

  --App__background-color_hover: rgba(0, 16, 61, 0.04);

  --App__separator-color: #dce1e6;

  --App__gap-horizontal: 12px;
  --App__gap-vertical: 10px;

  &_light {
    --App_tg-background: var(--tg-theme-button-color, #3390ec);
    --App_tg-color: var(--tg-theme-button-text-color, #ffffff);

    --App__background-color_body: var(--tg-theme-secondary-bg-color, #f4f4f5);
    --App__background-color_content: var(--tg-theme-bg-color, #ffffff);
    --App__background-color_secondary: #74748014;

    --App__text-color_primary: var(--tg-theme-text-color, #000000);
    --App__text-color_secondary: var(--tg-theme-hint-color, #707579);
    --App__text-color_link: var(--tg-theme-link-color, #00488f);
  }

  &_dark {
    --App_tg-background: var(--tg-theme-button-color, #8774e1);
    --App_tg-color: var(--tg-theme-button-text-color, #ffffff);

    --App__background-color_body: var(--tg-theme-secondary-bg-color, #181818);
    --App__background-color_content: var(--tg-theme-bg-color, #212121);
    --App__background-color_secondary: #74748014;

    --App__text-color_primary: var(--tg-theme-text-color, #ffffff);
    --App__text-color_secondary: var(--tg-theme-hint-color, #aaaaaa);
    --App__text-color_link: var(--tg-theme-link-color, #8774e1);
  }
}

body {
  background: var(--App__background-color_body);
  color: var(--App__text-color_primary);

  font-family: -apple-system,system-ui,"Helvetica Neue",Roboto,sans-serif;
}
