@import 'normalize';
@import 'variables';

html, body, #root {
  height: 100%;
}

body {
  background: var(--App__background-color_body);
  color: var(--App__text-color_primary);
  font-family: var(--App__font);
}

*:not(input):not(textarea),
::after,
::before {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color {

  &_red {
    color: var(--App_text-color_red);
  }

  &_green {
    color: var(--App__text-color_green);
  }
}
