.ListItem {
  padding: var(--App__padding-vertical) var(--App__padding-horizontal);
  border-radius: var(--App__radius);
  background: var(--App__background-color_content);
  min-height: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: inherit;

  &_disabled {
    opacity: .5;
  }

  &_interactive:not(&_disabled) {
    cursor: pointer;

    &:hover {
      background: var(--App__background-color_hover);
      transition: background .15s ease-out,opacity .15s ease-out;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__before {
    margin-right: var(--App_gap);
  }

  &__after {
    margin-left: var(--App_gap);
    text-align: right;
  }

  &__arrow {
    margin-left: var(--App_gap);
  }
}
