.ListItem {
  padding: var(--App__gap-vertical) 16px; // todo to var
  border-radius: var(--App__radius_large);
  background: #ffffff;
  min-height: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: inherit;

  &_disabled {
    opacity: .5;
  }

  &_interactive:not(&_disabled) {
    cursor: pointer;

    &:hover {
      background: var(--App__background-color_hover);
      transition: background .15s ease-out,opacity .15s ease-out;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__before {
    margin-right: var(--App__gap-horizontal);
  }

  &__after {
    margin-left: var(--App__gap-horizontal);
    text-align: right;
  }

  &__arrow {
    margin-left: var(--App__gap-horizontal);
  }
}
