.Radio {
  background: var(--App__background-color_content);
  border-radius: var(--App__radius_medium);
  padding: 10px 16px;
  width: 100%;

  &:hover:not(&_disabled) {
    cursor: pointer;
    background: var(--App__background-color_hover);
    transition: background .15s ease-out,opacity .15s ease-out;
  }

  &__in {
    display: flex;
    align-items: center;

    .Radio_disabled & {
      opacity: .5;
    }
  }

  &__icon {
    margin-right: 10px; // todo
    width: 22px;
    height: 22px;
  }

  input[type=radio] {
    @include visuallyHidden;
  }
}
