.Hero {
  --Hero_background: transparent;

  background: var(--Hero__background);
  padding: 40px 28px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  &_filled {
    --Hero__background: var(--App__background-color_content);
  }

  &_stretched {
    flex-grow: 1;
    justify-content: center;
  }

  &__subheading {
    color: var(--App__text-color_secondary);

    margin: var(--App_gap) 0 0;
  }

  &__heading {}

  &__icon {
    margin-bottom: var(--App_gap);
  }
}
