.Spinner {
  --Spinner__icon-color: var(--App__text-color_secondary);

  &__icon {
    color: var(--Spinner__icon-color);
    animation: rotating .8s linear infinite;
  }
}

@keyframes rotating {
    from{ transform: rotate(0deg) }
    to{ transform: rotate(360deg) }
}
