@import '../Typography/Typography.module';

.TextField {
  border-radius: var(--App__radius_medium);
  background: var(--App__background-color_content);
  padding: var(--App__gap-vertical) 16px;
  width: 100%;

  &_as {

    &_input {

    }

    &_textarea {
      resize: none;
    }
  }

  &__in {
    display: flex;
    align-items: flex-start;

    .TextField_disabled & {
      opacity: .5;
    }
  }

  &__after {
    margin-left: var(--App__gap-horizontal);
  }

  &__field {
    @extend .Typography_variant_text;

    flex-grow: 1;

    &::placeholder {
      color: #8E8E93; // todo to var
    }
  }
}
