@import '../Typography/Typography.module';

.TextField {
  border-radius: var(--App__radius);
  background: var(--App__background-color_content);
  width: 100%;

  &__in {
    display: flex;
    align-items: center;

    &:has(input:disabled), &:has(textarea:disabled) {
      opacity: .5;
    }
  }

  &__after {
    margin: 0 var(--App_gap);
  }

  textarea, input {
    @extend .Typography_variant_text;

    color: var(--App__text-color_primary);
    flex-grow: 1;

    &::placeholder {
      color: var(--App__separator-color_primary);
    }
  }

  textarea {
    padding: var(--App__padding-vertical) var(--App__padding-horizontal);
    resize: none;
  }

  input {
    padding: 0 var(--App__padding-horizontal);
    min-height: 42px;
  }
}
