.TipCell {

  &__amount {
    color: var(--App__text-color_green);
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__waiterName {
    color: var(--App__text-color_primary);
  }
}
