.Section {
  --Section_padding: 0;

  padding: var(--Section_padding);
  width: 100%;

  &_mode {

    &_full {
      background: var(--App__background-color_content);
    }

    &_compact {
      --Section_padding: var(--App__padding-vertical) var(--App__padding-horizontal);
    }
  }

  &__header, &__description {
    color: var(--App__text-color_secondary);
  }

  &__header {
    text-transform: uppercase;

    .Section_mode_compact & {
      padding: 5px var(--App__padding-horizontal);
    }

    .Section_mode_full & {
      padding: 16px var(--App__padding-horizontal) 0;
    }
  }

  &__description {

    .Section_mode_compact & {
      padding: 5px var(--App__padding-horizontal);
    }

    .Section_mode_full & {
      padding: 5px var(--App__padding-horizontal) 16px;
    }
  }

  &__in {

    & > * {
      &:first-child:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }

      &:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  &:last-child {
    margin-bottom: var(--App__padding-vertical);
  }
}
